@model IssueTracker.Models.ProjectDetails;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;

@{
    var prevDisabled = !Model.issues.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.issues.NextPage ? "disabled" : "";   
}

@functions {
    public int getUserId()
    {
        return @httpContextAccessor?.HttpContext?.Session.GetInt32("UserId") ?? -1;
    }
}
    
<div class="collapse overflow-auto" id="collapseIssues">
    <div class="card card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Issue</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Creator</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var issue in Model.issues) {
                    <tr>
                        <td>@issue.Summary</td>
                        <td>@issue.State</td>
                        <td>@issue.Priority</td>
                        <td>
                            @if (@issue.Asignee != null)
                            {
                                @issue.Asignee.Email
                            }
                            else
                            {
                                <span class="text-muted">Unassigned</span>
                            }
                        </td>
                        <td>@issue.Creator.Email</td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Issues" asp-action="Create">Create new</a>
    </div>
</div>