@model IssueTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

@functions {
    public int getPeopleCount(int projectId)
    {
        IQueryable<int> projectIds = ViewBag.ProjectIds;
        return projectIds.Where(id => id == projectId).Count();
    }

    public int getIssueCount(int projectId)
    {
        List<Issue> issues = ViewBag.Issues;
        return issues.Where(issue => issue.ProjectId == projectId).Count();
    }
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class = "col-sm-2">
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#inviteUser">Invite to project</button>
        </dd>
        <dt class = "col-sm-3">
            People working on this project:
        </dt>
        <dd class = "col-sm-9">
            @getPeopleCount(@Model.ProjectId)
        </dd>
        <dt class = "col-sm-3">
            Project Lead:
        </dt>
        <dd class = "col-sm-7">
            @if (@ViewBag.ProjectLead == null)
            {
                <p> Project does not have a project lead </p>
            } else
            {
                @ViewBag.ProjectLead
            }
        </dd>
        <dd class = "col-sm-2">
            @if (@ViewBag.UserRole == ProjectRole.Manager)
            {
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#projectLead">
                    Set Project Lead
                </button>
                <partial name="_SetProjectLeadModal"/>
            }
        </dd>
        <dt class = "col-sm-3">
            Number of issues:
        </dt>
        <dd class = "col-sm-9">
            @getIssueCount(@Model.ProjectId)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TargetEndDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TargetEndDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ActualEndDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ActualEndDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <div class="collapse overflow-auto" id="collapseUsers">
        <div class="card card-body">
            @foreach (var user in ViewBag.ProjectUsers)
            {
                <div>
                @user.FirstName
                @user.SecondName
                @user.Email
                </div>
            }
        </div>
    </div>
    <div class="collapse overflow-auto" id="collapseIssues">
        <div class="card card-body">
            @foreach (var issue in ViewBag.Issues)
            {
                <div>
                @issue.Summary
                @issue.State
                @issue.Priority
                </div>
            }
        </div>
    </div>
</div>
<div class="float-end">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
        Show Users
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIssues" aria-expanded="false" aria-controls="collapseIssues">
        Show Issues
    </button>
    
</div>
<div>
    <partial name="_AddToProjectModal"/>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a>
    <a asp-action="Index">Back to List</a>
    <a asp-controller="Issues" asp-action="Create">Go to create issue</a>
</div>
