@model IssueTracker.Models.ProjectDetails;

@{
    ViewData["Title"] = "Details";
}

@functions {
    public int getPeopleCount(int projectId)
    {
        IQueryable<int> projectIds = Model.projectIds;
        return projectIds.Where(id => id == projectId).Count();
    }

    public int getIssueCount(int projectId)
    {
        List<Issue> issues = Model.issues;
        return issues.Where(issue => issue.ProjectId == projectId).Count();
    }
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dd class = "col-sm-2">
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#inviteUser">Invite to project</button>
        </dd>
        <dt class = "col-sm-3">
            People working on this project:
        </dt>
        <dd class = "col-sm-9">
            @getPeopleCount(@Model.Project.ProjectId)
        </dd>
        <dt class = "col-sm-3">
            Project Lead:
        </dt>
        <dd class = "col-sm-7">
            @if (Model.projectLead == null)
            {
                <p> Project does not have a project lead </p>
            } else
            {
                @Model.projectLead
            }
        </dd>
        <dd class = "col-sm-2">
            @if (@Model.userRole == ProjectRole.Manager && Model.projectLead == null)
            {
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#projectLead">
                    Set Project Lead
                </button>
                <partial name="_SetProjectLeadModal"/>
            }
        </dd>
        <dt class = "col-sm-3">
            Number of issues:
        </dt>
        <dd class = "col-sm-9">
            @getIssueCount(@Model.Project.ProjectId)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Project.StartDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Project.TargetEndDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Project.TargetEndDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Project.ActualEndDate)
        </dt>
        <dd class = "col-sm-9">
            @if (Model.Project.ActualEndDate.CompareTo(DateTime.MinValue) == 0)
            {
                <p> Project has not ended </p>
            }
            else
            {
                @Html.DisplayFor(model => model.Project.ActualEndDate)
            }
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Project.CreatedOn)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Project.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <div class="collapse overflow-auto" id="collapseUsers">
        <div class="card card-body">
            @foreach (var pp in Model.personProjects)
            {
                <div>
                @pp.Person?.FirstName
                @pp.Person?.SecondName
                @pp.Person?.Email
                @pp.Role
                </div>
            }
        </div>
    </div>
    <div class="collapse overflow-auto" id="collapseIssues">
        <div class="card card-body">
            @foreach (var issue in Model.issues)
            {
                <div>
                @issue.Summary
                @issue.State
                @issue.Priority
                </div>
            }
        </div>
    </div>
</div>
<div class="float-end">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
        Show Users
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIssues" aria-expanded="false" aria-controls="collapseIssues">
        Show Issues
    </button>
    
</div>
<div>
    <partial name="_AddToProjectModal"/>
    <a asp-action="Index">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Project.ProjectId">Edit</a>
    <a asp-controller="Issues" asp-action="Create">Go to create issue</a>
</div>
