@model PaginatedList<IssueTracker.Models.Issue>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;

@{
    ViewData["Title"] = "Issues";
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";    
}

@functions {

    public int getUserId()
    {
        return @httpContextAccessor?.HttpContext?.Session.GetInt32("UserId") ?? -1;
    }
    
    public Boolean canDelete(int creatorId, int assigneeId)
    {
        int userId = getUserId();
        return userId == 1 || userId == creatorId || userId == assigneeId;
    }
}

<a class="h1 text-decoration-none" asp-action="Index">@ViewData["Title"]</a>
<hr/>
<div>
    <form class="d-inline" asp-controller="Issues" asp-action="Index" method="get">
        <div class="d-inline">
            Summary: <input type="text" name="SearchString" />
            <input type="submit" class="btn btn-primary" value="Filter"/>
        </div>
    </form>
    <div class="d-inline">
        <a class="btn btn-primary" asp-action="Index" asp-route-sortType="@ViewData["MyIssues"]">My issues</a>
    </div>
    <div class="dropdown d-inline">
      <button class="btn btn-primary dropdown-toggle" type="button" id="StateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        State
      </button>
      <ul class="dropdown-menu" aria-labelledby="StateDropdown">
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateNew"]">New</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateActive"]">Active</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateResolved"]">Resolved</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateClosed"]">Closed</a></li>
      </ul>
    </div>    
    <div class="dropdown d-inline">
      <button class="btn btn-primary dropdown-toggle" type="button" id="PriorityDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Priority
      </button>
      <ul class="dropdown-menu" aria-labelledby="PriorityDropdown">
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["PriorityHigh"]">High</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["PriorityMedium"]">Medium</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["PriorityLow"]">Low</a></li>
      </ul>
    </div> 
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["SummarySort"]">
                    Summary
                    @if (@ViewData["SummarySort"] == "SummaryDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a>    
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["ProjectSort"]">
                    Project
                    @if (@ViewData["ProjectSort"] == "ProjectDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a> 
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["StateSort"]">
                    State
                    @if (@ViewData["StateSort"] == "StateDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a> 
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["PrioritySort"]">
                    Priority
                    @if (@ViewData["PrioritySort"] == "PriorityDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a> 
            </th>
            <th>
                Date due
            </th>
            <th>
                Asignee
            </th>
            <th>
                Creator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetResolutionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asignee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Email)
            </td>
            <td class="text-end">
                <a class="btn-primary btn" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if (canDelete(item.CreatorId, item.AsigneeId))
                {
                    <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#delete" data-bs-issueName="@item.Summary" data-bs-issueId="@item.Id">Delete</button>
                }
                else
                {
                    <span type="button" class="btn btn-danger m-1 opacity-50 disabled">Delete</span>
                }
                <partial name="_DeleteIssueModal"></partial>
            </td>
        </tr>
}
    </tbody>
</table>

<div>  
    
    <a class="btn-primary btn m-1" asp-action="Create">
        Create New Issue
    </a>

    <div class="float-end">
        <a class ="btn-primary btn m-1 @prevDisabled" asp-action="Index" asp-route-PageNumber="@(Model.PageIndex - 1)">
            Previous
        </a>
        | @(Model.PageIndex) | 
        <a class = "btn-primary btn m-1 @nextDisabled" asp-action="Index" asp-route-PageNumber="@(Model.PageIndex + 1)">
            Next
        </a>
    </div>

</div>

<script>
    var exampleModal = document.getElementById('delete')
    exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget

    var id = button.getAttribute('data-bs-issueId')
    var name = button.getAttribute('data-bs-issueName')

    var modalBodyInput = exampleModal.querySelector('.iss input')
    var modalBodyParagraph = exampleModal.querySelector('.iss p')
    
    modalBodyParagraph.innerHTML = "Are you sure you want to delete issue: " + name + "?"
    modalBodyInput.value = id
    })
</script>