@model IEnumerable<IssueTracker.Models.Issue>

@{
    ViewData["Title"] = "Issues";
}

<h4>@ViewData["Title"]</h4>

<div>
    <form class="d-inline" asp-controller="Issues" asp-action="Index" method="get">
        <div class="d-inline">
            Summary: <input type="text" name="SearchString" />
            <input type="submit" class="btn btn-primary" value="Filter"/>
        </div>
    </form>
    <a class="btn btn-primary d-inline" asp-action="Index" asp-route-sortType="@ViewData["MyIssues"]">My issues</a>
    <div class="dropdown d-inline">
      <button class="btn btn-primary dropdown-toggle" type="button" id="StateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        State
      </button>
      <ul class="dropdown-menu" aria-labelledby="StateDropdown">
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateNew"]">New</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateActive"]">Active</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateResolved"]">Resolved</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["StateClosed"]">Closed</a></li>
      </ul>
    </div>    
    <div class="dropdown d-inline">
      <button class="btn btn-primary dropdown-toggle" type="button" id="PriorityDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Priority
      </button>
      <ul class="dropdown-menu" aria-labelledby="PriorityDropdown">
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["PriorityHigh"]">High</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["PriorityMedium"]">Medium</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-route-sortType="@ViewData["PriorityLow"]">Low</a></li>
      </ul>
    </div> 
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["SummarySort"]">
                    @Html.DisplayNameFor(model => model.Summary)
                    @if (@ViewData["SummarySort"] == "SummaryDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a>    
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["ProjectSort"]">
                    @Html.DisplayNameFor(model => model.Project)
                    @if (@ViewData["ProjectSort"] == "ProjectDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a> 
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["StateSort"]">
                    @Html.DisplayNameFor(model => model.State)
                    @if (@ViewData["StateSort"] == "StateDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a> 
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-action="Index" asp-route-sortOrder="@ViewData["PrioritySort"]">
                    @Html.DisplayNameFor(model => model.Priority)
                    @if (@ViewData["PrioritySort"] == "PriorityDesc")
                    {
                        <i class="fa fa-arrow-down"></i>
                    }
                    else
                    {
                       <i class="fa fa-arrow-up"></i>  
                    } 
                </a> 
            </th>
            <th>
                Date due
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetResolutionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asignee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Email)
            </td>
            <td>
                <a class="btn-primary btn" asp-action="Details" asp-route-id="@item.Id">Details</a>
                | <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn-primary btn" asp-action="Create">
        Create New Issue
    </a>
</p>